body{
	background: #001440;
	color: #d6d6d6;
}

#spacevideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .20;
}

.delete{
  color: #ff0000;
  font-weight: bold;
}

.delete:hover{
  color: darkblue;
  font-weight: bold;
}

.data-items:hover{
  background-color: #01102f; 
}
